Dobrý den {{ .CustomerName }},

na váš požadavek {{ .TaskID }} máme novou odpověď:

{{ .AgentMessage }}

Při dalších dotazech odpovězte na tento e-mail - automaticky se přiřadí k vašemu požadavku.

S pozdravem,
Maximal Limit Support
